.title {
    width: 130px;
    height: auto;

}
.selectBox {
    float: left;
    position: relative;
    width: 220px;
    height: 20px;
    border: 1px solid #ddd;
    margin: 32px 0 0 20px;
    overflow: hidden;
}
#addFlights {
    width: 250px;
    height: 20px;
    background: none;
    border: none;
}
.selectBox > .iconfont {
    z-index: 20;
    position: absolute;
    top: 2px;
    right: 6px;
}

.addFlights-submit {
    width: 52px;
    height: 32px;
    border: none;
    margin:  28px 0 0 10px;
    color: #fff;
    background-color: #0866c6;
    cursor: pointer;
}

.addFlights-form {
    width: 736px;
    height: 400px auto;
    border: 1px solid #0866c6;
    margin-top: 40px;
    margin-left: calc(50% - 368px);
}
.addFlights-form p {
    margin: 24px 0 0 10px;
}
.addFlights-form input {
    width: 288px;
    height: 20px;
    margin-left: 40px;
}