.addType-form {
    width: 560px;
    height: 400px;
    border: 1px solid #0866c6;
    margin-top: 40px;
    margin-left: calc(50% - 280px);
}
.addType-form > p {
    margin: 40px 0 0 10px;
}
.addType-form > p > input {
    height: 20px;
    width: 280px;
    margin-left: 10px;
}

.submitBox {
    width: 60px;
    height: 40px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}
.submitBox input {
    width: 50px;
    height: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #0866c6;
}

.addType-form label {
    width: 130px;
}