.user-form {
    background-color: #eee;
}

.user-form > aside {
    width: 232px;
    height: auto;
}
.form-nav-list {
    position: relative;
    width: 220px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
}
.form-nav-list > span{
    position: absolute;
    left: 0;
    display: inline-block;
    font-size: 12px;
    height: 30px;
}
.form-nav-list > input {
    float: left;
    display: inline-block;
    margin: 4px 0 0 60px;
}
#btn_flight_search {
    display: block;
    margin: 10px auto;
}

.reach-place {
    float: left;
    width: 740px;
    height: 228px;
    border: 1px solid #c8c8c8;
    background-color: #fdfdfd;
}
.reach-title {
    padding: 10px 0 10px 0;
    text-align: center;
}
.reach-title > h2 {
    font-size: 24px;
}
.order-Date {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 30px 0;
}
.order-Date > input {
    margin: 0 10px 0 10px;
}



.orders {
    float: left;
    width: 810px;
    margin-top: 20px;
    margin-left: 10%;
    margin-left: calc(50% - 404px);
}

.orders-header {
    position: relative;
    width: 810px;
    height: 60px;
    background-color: #262f72;
}
.triangle-left {
    position: absolute;
    left: 0;
    top: 60px;
    width: 0;
    height: 0;
    border-top: 10px solid #949494;
    border-left: 10px solid transparent;
}
.triangle-right {
    position: absolute;
    right: 0;
    top: 60px;
    width: 0;
    height: 0;
    border-top: 10px solid #949494;
    border-right: 10px solid transparent;
}
.orders-header table {
    width: 790px;
    margin-left: 10px;
}
.orders-header > table td {
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.orders-header td > span {
    color: #fff;
}
.orders-table {
    width: 790px;
    margin-left: 10px;
}
.orders-table td {
    font-size: 16px;
    height: 60px;
    line-height: 30px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 30px 0 0 0;
    background-color: #fff;
    text-align: center;
}
