
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477568925'); /* IE9*/
  src: url('iconfont.eot?t=1477568925#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477568925') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477568925') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477568925#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiantouyou:before { content: "\e606"; }
.icon-fangzi:before { content: "\e607"; }
.icon-plane:before { content: "\e600"; }
.icon-jiantouxia:before { content: "\e608"; }
.icon-youjiantou:before { content: "\e609"; }
.icon-yonghu:before { content: "\e60a"; }
.icon-qianbipencil82:before { content: "\e601"; }
.icon-biaoge:before { content: "\e602"; }
.icon-diannao:before { content: "\e603"; }
.icon-diannao1:before { content: "\e604"; }
.icon-shouzhong:before { content: "\e605"; }
